name: Upload Python Package
permissions:
  contents: read

on:
  release:
    types: [created]

jobs:
  build-sdist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
        architecture: x64
    - name: Install dependencies
      run: |
        pip install -e .[dev]
    - name: Build sdist
      run: |
        python -m build -s
    - uses: actions/upload-artifact@v4
      with:
        name: dayz-dev-tools-sdist
        path: dist/*

  build-wheel:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        architecture: [x86, x64]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} ${{ matrix.architecture }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Install dependencies
      run: |
        pip install -e .[dev]
    - name: Build wheel
      run: |
        python -m build -w
    - uses: actions/upload-artifact@v4
      with:
        name: dayz-dev-tools-wheel-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.architecture }}
        path: dist/*

  pypi-publish:
    needs: [build-sdist, build-wheel]
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: dayz-dev-tools-*
        merge-multiple: true
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
